/* You can add global styles to this file, and also import other style files */
.legend {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.legend h4 {
    margin-top: 0;
    font-size: 16px;
}

.legend i {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
}

.legend span {
    font-size: 14px;
}